<!DOCTYPE html>
<html>
<head>
    <!-- 뷰포트 설정 -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Chat Tupi | Spring Boot + WebSocket</title>
    <!-- 스타일시트 연결 -->
    <link rel="stylesheet" href="/css/chat.css" />
</head>
<body background="maxresdefault.jpg"
      style="background-position: center; background-repeat: no-repeat; background-size: cover;">
<noscript>
    <!-- JavaScript 비활성화 시 경고 메시지 -->
    <h2>Opa! Parece que este browser não suporta JavaScript</h2>
</noscript>

<!-- 사용자 이름 입력 페이지 -->
<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">사용자 입력란</h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="Nome"
                       autocomplete="off" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="accent username-submit">채팅 들어 가기</button>
            </div>
        </form>
    </div>
</div>

<!-- 채팅 페이지 -->
<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2>채팅창</h2>
        </div>
        <div class="connecting">messge...</div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="messge..."
                           autocomplete="off" class="form-control" />
                    <button type="submit" class="primary">전송</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- JavaScript 및 라이브러리 스크립트 로드 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>