<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비밀번호 찾기</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>비밀번호 찾기</h1>
<form th:action th:object="${findPassword}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field_error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
    </div>
    아이디 : <input type="text" th:field="*{userId}" th:errorclass="field-error">
    <div class="field-error" th:errors="*{userId}" /><br>

    이메일 : <input type="text" th:field="*{emailId}" th:errorclass="field-error">
    @
    <input type="text" th:field="*{emailDomain}" th:errorclass="field-error"/>
    <select class="select" title="이메일 도메인 주소 선택" th:onchange="setEmailDomain(this.value)">
        <option value="">-선택-</option>
        <option value="naver.com">naver.com</option>
        <option value="gmail.com">gmail.com</option>
        <option value="hanmail.net">hanmail.net</option>
        <option value="nate.com">nate.com</option>
        <option value="yahoo.com">yahoo.com</option>
    </select>
    <div class="field-error" th:errors="*{emailId}" />
    <div class="field-error" th:errors="*{emailDomain}" /><br>

    <button type="submit">비밀번호 찾기</button>
</form>

<script>
    function setEmailDomain(domain) {
    document.getElementById("emailDomain").value = domain; // 이메일 도메인 입력란에 선택된 도메인 값을 설정합니다.
}
</script>
</body>
</html>