<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 상세 정보</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<header th:replace="/home.html :: header"></header>
<h1>공지사항 상세 정보</h1>
<table>
    <tr>
        <th>제목</th>
        <td th:text="${notice.title}"></td>
    </tr>
    <tr>
        <th>내용</th>
        <td th:text="${notice.content}"></td>
    </tr>
    <tr>
        <th>생성 일자</th>
        <td th:text="${#dates.format(notice.createDate, 'yyyy-MM-dd')}"></td>
    </tr>
    <tr>
        <th>글쓴이</th>
        <td th:text="${notice.userId}"></td>
    </tr>
</table>
<div> <!--첨부파일 미리 보기-->
    <img th:if="${notice.attachmentName != null and #strings.endsWith(notice.attachmentName, 'jpg') or #strings.endsWith(notice.attachmentName, 'jpeg') or #strings.endsWith(notice.attachmentName, 'png') or #strings.endsWith(notice.attachmentName, 'gif')}"
         th:src="@{${notice.attachmentPath}}" alt="첨부 이미지">
</div>

<footer th:replace="/home.html :: footer"></footer>
</body>
</html>