<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 목록</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>

<header th:replace="/home.html :: header"></header>
<h1>공지사항 목록</h1>

<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notice : ${notices}">
        <td><a th:href="@{/notice/noticeDetail(noticeId=${notice.noticeId})}" th:text="${notice.title}">공지사항 제목</a></td>
        <td th:text="${notice.createDate}">작성일</td>
    </tr>
    <tr th:unless="${not #lists.isEmpty(notices)}">
        <td colspan="7">등록된 공지 사항이 없습니다.</td>
    </tr>
    </tbody>
</table>

<footer th:replace="/home.html :: footer"></footer>
</body>
</html>