<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 스타일시트 연결 -->
    <link rel="stylesheet" href="/css/chat.css" />
</head>
<body>
<!-- 채팅 페이지 -->
<div id="chat-page">
    <div class="chat-container">
        <div class="chat-header">
            <a th:href="@{/chat/chatRoomList(userId=${session.loginMember.userId})}"> 뒤로 가기</a>
            <h2 th:text="${chatRoom.chatRoomName}"> </h2>
            <button type="button" id="exitChatRoom">채팅방 나가기</button>
        </div>
        <div class="connecting">연결중...</div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="messge..."
                           autocomplete="off" class="form-control" />
                    <button type="submit" class="primary">전송</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    'use strict';

$(document).ready(function(){

    // WebSocket 클라이언트와 사용자 이름 관련 변수
    var stompClient = null;
    var username = null;

    // 사용자 이름 색상 배열
    var colors = [
        '#2196F3', '#32c787', '#00BCD4', '#ff5652',
        '#ffc107', '#ff85af', '#FF9800', '#39bbb0'
    ];

    // HTML 요소 가져오기
    var chatPage = document.querySelector('#chat-page'); // 채팅 페이지
    var messageForm = document.querySelector('#messageForm'); // message폼 (form)
    var messageInput = document.querySelector('#message'); // messageContent (input=text)
    var messageArea = document.querySelector('#messageArea'); // message 위치
    var connectingElement = document.querySelector('.connecting'); // message...
    // "나가기" 버튼 클릭 이벤트 핸들러
    document.getElementById('exitChatRoom').addEventListener('click', exitChatRoom);

    var chatRoomName = [[${chatRoom.chatRoomName}]];
    // 채팅방 ID를 URL에서 추출
    var chatRoomId = [[${chatRoom.chatRoomId}]];
    console.log(chatRoomId);
    // 사용자 이름을 세션에서 추출
    var username = [[${userName}]];// Thymeleaf의 문법을 사용하여 userName을 추출`
    console.log(username);
    var userId = [[${userId}]];
    const userWasInChatRoom = [[${userWasInChatRoom}]]; // 회원이 전에 들어온적이 있는지 판별하는 변수

    if(username) {
        // SockJS를 통해 WebSocket 연결 설정
        // WebSocket 서 연결을 시도버에
        var socket = new SockJS('/websocket/' + chatRoomId);
         //1. SockJS를 내부에 들고있는 stomp를 내어줌
         stompClient = Stomp.over(socket);
        stompClient.connect({}, onConnected, onError);
    }
        // WebSocket에 연결한 후 호출되는 함수
    function onConnected() { // 연결 성공 후

        stompClient.subscribe('/topic/chatRoom/' + chatRoomId , onMessageReceived); // 보낸 사람 이름 가져오기 headerAccessor.getSessionAttributes().put("username", chatMessage.getSender()); 데이터 조회

        console.log(userWasInChatRoom);
        // 기존 사용자가 아닌 경우에만 메시지 전송
        if (!userWasInChatRoom) {
            var messageTime = new Date();
            stompClient.send("/app/chat.register",
                {},
                JSON.stringify({ userId: userId, chatRoomId: chatRoomId, sender: username, type: 'JOIN' ,messageTime: messageTime})
            )
        }

        // 연결 완료 시, 이전 대화 내용 가져오기
        lastChatList();
        
        connectingElement.classList.add('hidden');
    }

        // WebSocket 연결 오류 발생 시 호출되는 함수
    function onError(error) {
        connectingElement.textContent = 'WebSocket에 연결할 수 없습니다. 페이지를 새로 고치거나 관리자에게 문의하십시오.';
        connectingElement.style.color = 'red';
    }

    // 채팅 메시지를 서버로 전송하는 함수
    function send(event) {
        var messageContent = messageInput.value.trim();

        if(messageContent && stompClient) {
            var messageTime = new Date();
            var chatMessage = {
                userId: userId, // 회원 아이디
                chatRoomId: chatRoomId, // 방 아이디
                sender: username, // 보낸이
                content: messageInput.value, // text 창 내용들
                type: 'CHAT', // 타입 chat
                messageTime: messageTime // 현재 시간을 추가
            };

            stompClient.send("/app/chat.send", {}, JSON.stringify(chatMessage));
            messageInput.value = '';
        }
        event.preventDefault();
    }

    function exitChatRoom() {
        if (stompClient) {
            var messageTime = new Date();
            stompClient.send("/app/chat.exit",
                {},
                JSON.stringify({ userId: userId, chatRoomId: chatRoomId, sender: username, type: 'LEAVE' ,messageTime: messageTime})
            )
        }

            // 나가기 도우는 로직

        // 데이터 전송 성공 후 실행할 작업
        alert("채팅방을 나갔습니다."); // 나가기 성공 알림

        // 다른 페이지로 리디렉션
        window.location.href = '/chat/chatRoomList?userId=' + userId; // 다른 페이지 URL로 수정

    }




    // 수신한 채팅 메시지를 처리하는 함수
    function onMessageReceived(payload) { // stompClient.subscribe('/topic/chatRoom/' + chatRoomId, onMessageReceived); payload 메시지를 받고 판단후 출력
        var message = JSON.parse(payload.body);
        var messageElement = document.createElement('li');

        if(message.type === 'JOIN') {
            // 사용자가 입장한 메시지
            messageElement.classList.add('event-message');
            message.content = message.sender + ' 님이 채팅방을 들어오셨습니다.';
        } else if (message.type === 'LEAVE') {
            // 사용자가 퇴장한 메시지
            messageElement.classList.add('event-message');
            message.content = message.sender + ' 님이 채팅방을 나가셨습니다.';
        } else if(message.type === 'DATE'){
                messageElement.classList.add('event-message');
                message.content = message.content;
        } else {
            // 일반 채팅 메시지
            messageElement.classList.add('chat-message');

            // 메시지 발신자의 아바타와 사용자 이름
            var avatarElement = document.createElement('i');
            var avatarText = document.createTextNode(message.sender[0]);
            avatarElement.appendChild(avatarText);
            avatarElement.style['background-color'] = getAvatarColor(message.sender);

            messageElement.appendChild(avatarElement);

            var usernameElement = document.createElement('span');
            var usernameText = document.createTextNode(message.sender);
            usernameElement.appendChild(usernameText);
            messageElement.appendChild(usernameElement);

            // 서버에서 받은 날짜 문자열 (예: "2023-11-02T15:30:00")을 JavaScript Date 객체로 변환
            var serverDate = new Date(message.messageTime);

            // 시간과 분을 추출
            var hours = serverDate.getHours();
            var minutes = serverDate.getMinutes();
                            // "오후" 또는 "오전"을 결정
                var amOrPm = "오전";
                if (hours >= 12) {
                    amOrPm = "오후";
                    hours -= 12;
                }

                // 시간과 분을 두 자리 숫자로 만들어주기 (0을 붙임)
                if (hours < 10) {
                    hours = "0" + hours;
                }
                if (minutes < 10) {
                    minutes = "0" + minutes;
                }

            // "오후/오전 hh:MM" 형식으로 시간 문자열 생성
            var formattedTime = amOrPm + " " + hours + ":" + minutes;

         // 메시지 시간 (이미 서버 측에서 DATE 형식으로 변환됨)
             var timeElement = document.createElement('span');
            var timeText = document.createTextNode(formattedTime); //     서버에서 받은 DATE 형식 시간
            timeElement.id = 'message-time'; // ID 추가
            timeElement.appendChild(timeText);
            messageElement.appendChild(timeElement);
        }

        // 메시지 내용
        var textElement = document.createElement('p');
        var messageText = document.createTextNode(message.content);
        textElement.appendChild(messageText);

        messageElement.appendChild(textElement);

        // 메시지를 화면에 추가하고 스크롤을 아래로 이동
        messageArea.appendChild(messageElement);
        messageArea.scrollTop = messageArea.scrollHeight;
    }

    // 사용자 이름에 기반한 아바타 색상을 반환하는 함수
    function getAvatarColor(messageSender) {
        var hash = 0;
        for (var i = 0; i < messageSender.length; i++) {
            hash = 31 * hash + messageSender.charCodeAt(i);
        }

        var index = Math.abs(hash % colors.length);
        return colors[index];
    }

    // 이전 대화 내용을 서버로부터 가져오는 함수
    function lastChatList() {
        $.ajax({
            url: '/chat/getLastChatMessages/' + chatRoomId,
            type: 'GET',
            success: function (data) {
                // 서버로부터 받은 이전 대화 내용을 초기화

                console.log(data);
                initializeChatMessages(data);
            },
            error: function (error) {
                console.log("에러입니다");
            }
        });
    }

        // 이전 대화 내용을 초기화하고 새 메시지와 이전 대화 내용을 화면에 출력
        function initializeChatMessages(chatMessages) {
            for (var i = 0; i < chatMessages.length; i++) {
                var message = chatMessages[i];
                // 채팅 메시지를 화면에 출력하는 함수 호출
                displayChatMessage(message);
            }
        }
            // 수신한 채팅 메시지를 처리하는 함수
        function displayChatMessage(message) {
            console.log(message);
            var messageElement = document.createElement('li');

            if(message.type === 'JOIN') {
                // 사용자가 입장한 메시지
                messageElement.classList.add('event-message');
                message.content = message.sender + ' 님이 채팅방을 들어오셨습니다.';
            } else if (message.type === 'LEAVE') {
                // 사용자가 퇴장한 메시지
                messageElement.classList.add('event-message');
                message.content = message.sender + ' 님이 채팅방을 나가셨습니다.';
            } else if(message.type === 'DATE'){
                messageElement.classList.add('event-message');
                message.content = message.content;
            } else {
                // 일반 채팅 메시지
                messageElement.classList.add('chat-message');

                // 메시지 발신자의 아바타와 사용자 이름
                var avatarElement = document.createElement('i');
                var avatarText = document.createTextNode(message.sender[0]);
                avatarElement.appendChild(avatarText);
                avatarElement.style['background-color'] = getAvatarColor(message.sender);

                messageElement.appendChild(avatarElement);

                var usernameElement = document.createElement('span');
                var usernameText = document.createTextNode(message.sender);
                usernameElement.appendChild(usernameText);
                messageElement.appendChild(usernameElement);

                // 서버에서 받은 날짜 문자열 (예: "2023-11-02T15:30:00")을 JavaScript Date 객체로 변환
                var serverDate = new Date(message.messageTime);

                // 시간과 분을 추출
                var hours = serverDate.getHours();
                var minutes = serverDate.getMinutes();

                // "오후" 또는 "오전"을 결정
                var amOrPm = "오전";
                if (hours >= 12) {
                    amOrPm = "오후";
                    hours -= 12;
                }

                // 시간과 분을 두 자리 숫자로 만들어주기 (0을 붙임)
                if (hours < 10) {
                    hours = "0" + hours;
                }
                if (minutes < 10) {
                    minutes = "0" + minutes;
                }


                // "오후/오전 hh:MM" 형식으로 시간 문자열 생성
                var formattedTime = amOrPm + " " + hours + ":" + minutes;

               // 메시지 시간 (이미 서버 측에서 DATE 형식으로 변환됨)
                var timeElement = document.createElement('p');
                timeElement.id = 'message-time'; // ID 추가
                var timeText = document.createTextNode(formattedTime); // 서버에서 받은 DATE 형식 시간
                timeElement.appendChild(timeText);
                messageElement.appendChild(timeElement);
            }

            // 메시지 내용
            var textElement = document.createElement('p');
            var messageText = document.createTextNode(message.content);
            textElement.appendChild(messageText);

            messageElement.appendChild(textElement);

            // 메시지를 화면에 추가하고 스크롤을 아래로 이동
            messageArea.appendChild(messageElement);
            messageArea.scrollTop = messageArea.scrollHeight;
        }


    // 사용자 이름 입력 폼과 메시지 입력 폼에 이벤트 리스너 추가
    messageForm.addEventListener('submit', send, true)
});
</script>
</body>
</html>