<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>모임 정보</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }
        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .userInfo {
            width: 300px;
            height: 100px;
            border: 1px solid #eaeaeadd;
            background-color: #eaeaeadd;
            border-radius: 30px;
        }

    </style>
</head>
<body>

<h1>프로필</h1>
<div class="box" style="background: #BDBDBD;">
    <img class="profile" th:src="@{${groupInfo.groupPicturePath}}">
</div>
<p>모임 이름 : [[${groupInfo.groupName}]]</p>
<p th:if="${groupInfo.groupType == 0}">모임 종류 : 원데이</p>
<p th:if="${groupInfo.groupType == 1}">모임 종류 : 정기</p>
<p>지역 : [[${groupInfo.sidoName}]] [[${groupInfo.sigoonName}]]</p>
<p>모임 인원 :  [[${groupInfo.groupNumberOfPeople}]]</p>
<p>모임 정보</p>
<div class="groupInfo">
    <p>[[${groupInfo.groupInfo}]]</p>
</div>
<p>키워드 : [[${groupInfo.firstKeyword}]]</p>
<p>[[${groupInfo.secondKeyword}]]</p><br>

<button th:if="${session.loginMember == null}" th:onclick="|location.href='@{/login})}'|">로그인 후 모임 참여하기</button>
<button th:if="${session.loginMember != null} and ${session.loginMember.userId != groupInfo.ownerUserId}" th:onclick="|location.href='@{/chat(sessionUserId=${sessionUserId})}'|">채팅방 들어가기</button>
<button th:if="${session.loginMember != null} and ${session.loginMember.userId == groupInfo.ownerUserId}" th:onclick="|location.href='@{/meetingUpdateForm(groupId=${groupInfo.groupId})}'|">모임 정보 수정</button>
<button th:if="${session.loginMember != null} and ${session.loginMember.userId == groupInfo.ownerUserId}" th:onclick="|location.href='@{/deleteGroup(groupId=${groupInfo.groupId})}'|">모임 삭제</button>



</body>
</html>