<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>문의 상세 정보</title>
</head>
<body>
<h1>문의 상세 정보</h1>

<div>
    <p><strong>작성자:</strong> [[${askContent.userId}]]</p>
    <p><strong>제목:</strong> [[${askContent.subject}]]</p>
    <p><strong>내용:</strong> [[${askContent.content}]]</p>
    <p><strong>작성 일자:</strong> [[${askContent.createDate}]]</p>
    <p><strong>문의 상태:</strong> [[${askContent.status}]]</p>
</div>

<div> <!--첨부파일 미리 보기-->
    <img th:if="${askContent.attachmentName != null and #strings.endsWith(askContent.attachmentName, 'jpg') or #strings.endsWith(askContent.attachmentName, 'jpeg') or #strings.endsWith(askContent.attachmentName, 'png') or #strings.endsWith(askContent.attachmentName, 'gif')}"
         th:src="@{${askContent.attachmentPath}}" alt="첨부 이미지">
</div>
<a th:href="@{/}">메인</a>
</body>
</html>