<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>문의 상세 정보</title>
    <link href="/modalWindow.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<header th:replace="/home.html :: header"></header>

<h1>문의 상세 정보</h1>

<div>
    <p><strong>작성자:</strong> [[${askContent.userId}]]</p>
    <p><strong>제목:</strong> [[${askContent.subject}]]</p>
    <p><strong>내용:</strong> [[${askContent.content}]]</p>
    <p><strong>작성 일자:</strong> [[${askContent.createDate}]]</p>
    <p><strong>문의 상태:</strong> [[${askContent.status}]]</p>
    <p th:if="${askContent.history != null}"><strong>수정 상태:</strong> [[${askContent.history}]]</p>
</div>

<div> <!--첨부파일 미리 보기-->
    <img th:if="${askContent.attachmentName != null and #strings.endsWith(askContent.attachmentName, 'jpg') or #strings.endsWith(askContent.attachmentName, 'jpeg') or #strings.endsWith(askContent.attachmentName, 'png') or #strings.endsWith(askContent.attachmentName, 'gif')}"
         th:src="@{${askContent.attachmentPath}}" alt="첨부 이미지">
</div>
<div th:if="${loginMemberUserId == askContent.userId}"> <!-- 세션에 저장된 본인의 아이디와 똑같을 경우에만 가능한 버튼 -->
    <button th:onclick="|location.href='@{askEdit(askId=${askContent.askId})}'|" style="cursor: pointer;">수정 하기
    </button>
    <button type="button" th:attr="data-askId=${askContent.askId}" onclick="deleteAsk(this.getAttribute('data-askId'))" style="cursor: pointer;">삭제 하기</button>
</div>
<!-- 댓글 표시 부분 -->
<div>
    <h2>댓글</h2>
    <div th:if="${commentAskList != null}" th:each="comment : ${commentAskList}">
        <p><strong>작성자:</strong> [[${comment.userId}]]</p>
        <p><strong>내용:</strong> [[${comment.content}]]</p>
        <p><strong>작성 일자:</strong> [[${comment.createDate}]]</p>
    </div>
</div>
<!-- 댓글 입력 폼 -->
<div th:if="${loginMemberUserAdmin == 1}">  <!-- 관리자 권한일 경우에만 댓글 입력 가능 -->
    <form method="post" th:action="@{/FAQ/addComment}">
        <input type="hidden" name="askId" th:value="${askContent.askId}" />
        <label for="content">댓글 내용 : </label>
        <textarea id="content" name="content" rows="3" cols="50" required></textarea> <br>

        <label for="status">상태 선택:</label>
        <select id="status" name="status">
            <option value="미해결">미해결</option>
            <option value="해결완료">해결완료</option>
            <option value="처리중">처리중</option>
        </select>

        <button type="submit">댓글 작성</button>
    </form>
</div>
<a th:href="@{/}">메인</a>

<div id="modalContainer" class="hidden">
    <div id="modalContent">
        <p style="color: red; font-size: 24px; text-align: center;">정말 삭제하시겠습니까?</p>
        <button onclick="confirmDelete()">네</button>
        <button id="modalCloseButton" onclick="cancelDelete()">아니요</button>
        <input type="hidden" id="deleteAskId" name="askId" value="">
    </div>
</div>

<footer th:replace="/home.html :: footer"></footer>
<script type="text/javascript">

    const modal = document.getElementById('modalContainer');
    const modalCloseButton = document.getElementById('modalCloseButton');
    const deleteAskId = document.getElementById('deleteAskId');

   function deleteAsk(askId) {
        // 삭제 버튼 클릭 시 모달 열기
        modal.classList.remove('hidden'); // 모달창 오픈
        var deleteAskId = document.getElementById('deleteAskId');
        deleteAskId.value = askId; // 삭제할 아이디 저장
    }


    function confirmDelete() {
        // "네" 버튼 클릭 시 삭제 로직 수행
        var deleteAskId = document.getElementById('deleteAskId');
        var askId = deleteAskId.value;
        if (askId) {
            fetch('askDelete/' + askId)
                .then(response => {
                    if (response.ok) {
                        alert("삭제되었습니다.");
                        window.location = '/FAQ/';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }

    function cancelDelete() {
        // "아니요" 버튼 클릭 시 모달 닫기
        modal.classList.add('hidden');
    }
</script>
</body>
</html>