<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 등록</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <script>
        $(document).ready(function () {
           $("#noticeForm").submit(function (event) {
               event.preventDefault(); // 기본 폼 제출 방지

               var formData = new FormData(); // FormData 객체 생성

               formData.append("title", $("#title").val()); // 제목 추가
               formData.append("content", $("#content").val()); // 내용 추가
               formData.append("attachments", $("#attachments")[0].files[0]); // 파일 추가

               $.ajax({
                   type: "POST",
                   url: "/manager/createNotice",
                   data: formData, // FormData 객체 사용
                   processData: false, // 필수: FormData를 사용하기 때문에 false로 설정
                   contentType: false, // 필수: FormData를 사용하기 때문에 false로 설정
                   success: function (response) {
                       alert("문의가 제출되었습니다.");
                        // 성공 후 페이지 이동 (예: 홈 페이지로 이동)
                        window.location.href = "/manager/noticeList";
                   },
                   error: function () {
                       alert("문의 제출에 실패했습니다.");
                   }
               });
           });
       });
    </script>
</head>
<body>
<header th:replace="/home.html :: header"></header>
<h1>공지사항 등록</h1>
<form id="noticeForm" enctype="multipart/form-data">
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="content">내용:</label>
    <textarea id="content" name="content" rows="4" cols="50" required></textarea>
    <br>
    <label for="attachments">첨부 파일 (선택):</label>
    <input type="file" id="attachments" name="attachments">
    <br>
    <button type="submit">등록</button>
</form>

<footer th:replace="/home.html :: footer"></footer>
</body>
</html>






